* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border dentro do tamanho 09/01/2025*/
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ebe6ea;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    flex: 1; /* Isso permite que o container cresça para preencher o espaço disponível */
    margin: 0 auto; /* Centraliza 09/01/2025 */ 
}

.entrada_titulo {
    display: block;
    margin: 20px auto; /* Centraliza a imagem e adiciona margem superior e inferior */
    width: 100%;
    max-width: 200px; /* Define uma largura máxima para a imagem */
    height: auto;
}

.titulario {
    margin: 20px auto; /* Centraliza o título e adiciona margem superior e inferior */
    font-size: 1.5rem; /* Ajusta o tamanho da fonte */
    text-align: center;
}

fieldset {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: left;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adiciona espaçamento entre os botões */
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_calculadora {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.img_regua, .img_balanca {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.icone-altura, .icone-balanca {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.minha-secao_head {
    background-color: #e4c5c4;
    padding: 20px;
    border-radius: 5px;
}

.minha-secao {
    background-color: #e4c5c4;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #e19ff7;
    color: #fff;
    position: fixed;
    bottom: 0;
    box-sizing: border-box; /* Inclui padding dentro da largura */
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .titulario {
        font-size: 2rem;
    }
    .entrada_titulo {
        max-width: 300px;
    }
}
